{% extends 'myblog/base.html' %}

{% block content %}

  {% for topic in topics %}
  <div class="topic">

    <div class="topic-content">

      {% if topic.photo %}
      <div class="topic-content-photo">
        <img class="topic-photo-main" src="{{ topic.photo.url }}">
      </div>
      {% endif %}
      <div class="topic-content-text">

        <div class="topic-content-text-title">
          <h3>{{ topic.title }}</h3>
        </div>

        <div class="topic-content-text-post">
          <p>{{ topic.content|linebreaks|truncatewords:60}}</p>
        </div>

      </div>

    </div>

    <div class="topic-footer">

      <div class="topic-date">
        <span>{{ topic.time_created|date:"d.m.Y H:i" }}</span>
      </div>

      <div class="topic-category">
        <span>{{ topic.category }}</span>
      </div>

      <div class="topic-read-button">
        <span>
          <a href="{{ topic.get_absolute_url }}">Read post</a>
        </span>
      </div>

    </div>

  </div>
    <hr>
  {% endfor %}

{% endblock %}