body{
    background-color: #DCDCDC;
}

.header{
    background-color: #1e2939;
    color: white;
    font-style: normal;
    font-weight: s;
    font-size: 22px;
    line-height: 50px;
    margin-bottom: 20px;
}

.sidebar{
    background: #111;
    width: 160px;
    height: 100%;
    position: absolute;
    z-index: 1;

    overflow-x:hidden;
    padding-top: 20px;
}

.sidebar a, .sidebar span{
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: table
}

.sidebar a:hover{
    color: #f1f1f1
}

.main{
    height: 100%;
    background: #F4ECCE;
    margin-left: 160px;
}

.main div.topic{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    align-items: center;
}

.topic-content{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.topic-content-photo{
    padding: 10px;
    width: 350px;
    height: auto;
}

.topic-photo-main{
    height: 100%;
    width: 350px;;
    flex: 1 1 auto;
}

.topic-content-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic-content-text-title h3{
    font-family: 'Ubuntu';
    color: #fb6d3a;
}

.topic-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.topic-date span{
    font-family: 'Arial';
    font-size: 14px;
}
.topic-read-button a{
    padding: 10px;
	min-width: 100px;
	background: #333671;
	color: #fff;
	text-decoration: none;
}

ul.mainmenu { /* ul класса mainmenu */
    font-size: 20px;
    margin: 20px;  /* Отступ */
}

/* li класса ul mainmenu */
ul.mainmenu li {
    display: inline; /* отображать как строку */
    margin-left: 20px/* Отступ слева */
}

ul.mainmenu li.last {float: right;}

ul.mainmenu li a{
    text-decoration: none;
    color: white;
}